@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/

.titles {
  display: flex;
  flex-direction: row;
}
.title {
  width: 50%;
  padding-left: 16px;
  background-color: #f9f9f9;
  padding-top: 14px;
  padding-bottom: 12px;
}
.title p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7C8187;
  text-transform: uppercase;
}
.titles hr {
  width: 1px;
  border: 1px solid #ddd;
}

.text-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

.preview-title{
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.preview-title button{
  border: none;
}

.preview {
  width: 50%;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #fff;
  font-family: Roboto Slab, serif;
  border-top: none;
  border-bottom: none;
  padding-top: 22px;
  padding-inline: 16px;
}

.preview-on{
  flex: 1;
}

.preview-center{
  margin: 0 auto;
  width: 100%;
  max-width: 672px;
  border: none;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.container.shifted {
  margin-left: 250px;
}

.header {
  height: 72px;
  background-color: #2B2D31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 16px;
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.header-left{
  display: flex;
  align-items: center;
}

.header-left hr{
  height: 40px;
  border: 1px solid #5A6069;
  margin-left: 30px;
  margin-right: 24px;
}

.header-btns{
  display: flex;
  gap: 10px;
}


.header-btns button:first-of-type {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-btns button:last-of-type{
  display: flex;
  background-color: #E46643;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  padding-inline: 16px;
  padding-block: 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header.shifted {
  margin-left: 250px;
}

.header-title {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-title img{
  margin-left: 24px;
}

.document-info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.document-info label{
  display: flex;
  flex-direction: column;
  gap: 3px;
  span{
    font-size: 13px;
    font-weight: 300;
    line-height: 15.23px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7C8187;  
  }
  input{
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 17.58px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    
    &:active{
      border-bottom: 1px solid #fff;
    }
    &:hover{
      border-bottom: 1px solid #fff;
    }
  }
}

.document-icon {
  fill: #7C8187;
}

.document-name {
  color: #7C8187;
  font-size: 13px;
}

.editor {
  width: 50%;
  padding-top: 9px;
  padding-inline: 16px;
  resize: none;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #fff;
  font-family: Roboto Mono, monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #35393F;
  border-top: none;
  border-bottom: none;
}

.editor-title{
  margin-right: 1px;
}

.hamburger-wrapper {
  position: fixed;
  padding-block: 11.5px;
  padding-inline: 12px;
  z-index: 1000;
  transition: margin-left 0.3s ease;
  background-color: #35393F;
}


.hamburger-wrapper.shifted {
  margin-left: 250px;
}

.menu-container {
  position: fixed;
  left: -250px;
  top: 0;
  height: 100vh;
  background-color: #1D1F22;
  color: white;
  width: 250px;
  transition: left 0.3s ease;
  z-index: 900;
}

.menu-container.open {
  left: 0;
}


.new-document-btn {
  background-color: #E46643;
  color: white;
  border: none;
  padding: 10px 43px 12px 44px;
  margin-inline: 16px;
  width: calc(100% - 32px);
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.new-document-btn:hover {
  background-color: #F39765;
}

.menu-content{
  display: flex;
  flex-direction: column;
}

.item{
  display: flex;
  gap: 16px;
  padding-left: 16px;
  margin-bottom: 26px;
}
.btn-item{
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.item-title{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.item-title p:first-of-type{
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 15.23px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
  color: #7C8187;
}
.item-title p:last-of-type {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.58px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;  
}

.document-title {
  font-size: 15px;
  color: #7C8187;
  margin: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
